apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: montandon-eoapi
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:

  - repoURL: https://devseed.com/eoapi-k8s/
    chart: eoapi
    targetRevision: 0.11.1
    helm:
      valueFiles:
        - values/argocd.yaml
      valuesObject:
        postgrescluster:
          # Using azure databae
          enabled: false
        vector:
          enabled: false
        raster:
          enabled: false
        ingress:
          # Using stac-auth-proxy
          enabled: false

        serviceAccount:
          create: true
          automount: true
          annotations:
            azure.workload.identity/client-id : "9b1f12a8-4ae9-4281-afa9-948451f77dce"
          labels:
            azure.workload.identity/use: "true"

        postgresql:
          type: "external-secret"
          external:
            existingSecret:
              # Defined here: internal/montandon-eoapi-spc.yaml
              name: pgstac-secrets-montandon-eoapi
              keys:
                username: "DB_USER"
                password: "DB_PASSWORD"
                # Optional: if these are provided in the secret
                # Note: These values override external.host, external.port and external.database if defined
                host: "DB_HOST"
                database: "DB_NAME"
                port: "DB_PORT"

        stac:
          image:
            tag: 6.1.2
          overrideRootPath: ""
          settings:
            labels:
              azure.workload.identity/use: "true"
            resources:
              requests:
                memory: "2048Mi"
                cpu: "500m"
              limits:
                memory: "4096Mi"
                cpu: "1000m"
            envVars:
              ENABLE_TRANSACTIONS_EXTENSIONS: "TRUE"
              FORWARDED_ALLOW_IPS: "*"
              PROXY_HEADERS: True
              CORS_ORIGINS: "https://localhost:3000,https://alerthub-stage.ifrc.org,https://montandon-eoapi-stage.ifrc.org"
              CORS_ORIGIN_REGEX: ".*"
              CORS_HEADERS: "Accept, Authorization, Content-Type, Origin, X-Requested-With"
              CORS_METHODS: "GET,OPTIONS,POST"
              CORS_CREDENTIALS: "true"
              STAC_FASTAPI_VERSION: "6.1.2"
              STAC_FASTAPI_TITLE: "Montandon STAC API"
              STAC_FASTAPI_DESCRIPTION: "Welcome to the [Montandon](https://ifrcgo.org/monty-stac-extension/) STAC API. This API provides the main entry to access the Global Crisis Data Bank, a database that brings in hazard and impact data for current, historical and forecasted disasters around the globe"
              STAC_FASTAPI_LANDING_ID: "montandon-eoapi"
            extraVolumeMounts:
              - name: azure-keyvault-secrets
                mountPath: /mnt/secrets-store
                readOnly: true
            extraVolumes:
              # Not required for eoAPI, but secrets-store.csi.k8s.io needs at least one pod to mount SecretProviderClass to sync Azure Key Vault with the Kubernetes secret pgstac-secrets-montandon-eoapi
              - name: azure-keyvault-secrets
                csi:
                  driver: secrets-store.csi.k8s.io
                  readOnly: true
                  volumeAttributes:
                    secretProviderClass: azure-secret-provider-montandon-eoapi

        pgstacBootstrap:
          enabled: true
          settings:
            loadSamples: false
            queryables:
              - name: "stac_queryables.json"
                indexFields: ["monty:hazard_codes","monty:country_codes","roles"]
                deleteMissing: true
                configMapRef:
                  name: montandon-eoapi-stac-queryables
                  key: stac_queryables.json

  - path: applications/argocd/staging/applications/montandon-eoapi/internal/
    targetRevision: develop
    repoURL: https://github.com/IFRCGo/go-deploy.git

  - repoURL: https://github.com/developmentseed/stac-auth-proxy.git
    targetRevision: v0.9.2
    path: helm/
    helm:
      valuesObject:
        env:
          UPSTREAM_URL: "http://montandon-eoapi-stac:8080"
          # UPSTREAM_URL: "https://montandon-eoapi-stage.ifrc.org/stac"
          OIDC_DISCOVERY_URL: "https://goadmin-stage.ifrc.org/o/.well-known/openid-configuration"
          OVERRIDE_HOST: "0"
          ROOT_PATH: "/stac"
        ingress:
          enabled: "true"
          host: "montandon-eoapi-stage.ifrc.org"
          className: "nginx"
          tls:
            enabled: "true"
            secretName: "montandon-eoapi-helm-secret-cert"
        replicaCount: 1

  destination:
    server: https://kubernetes.default.svc
    namespace: montandon-eoapi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
